<!-- partial:index.partial.html -->
<div class="container">
  <div class="weather-side">
    <div class="weather-gradient"></div>
    <div class="date-container">
      <h2 class="date-dayname" [innerText]="currentDate[0][0]"></h2>
      <span class="date-day" [innerText]="currentDate[0][1]"></span>
      <i class="fa-solid fa-location-dot"></i>
      <span style="margin-left:5px" class="location" [innerText]="weatherData['location']['region'] + ', ' + weatherData.location.country"></span>
    </div>
    <div class="weather-container">
      <img alt="image" [src]="weatherData['current']['condition'].icon">
      <h1 class="weather-temp" [innerText]="weatherData['current']['feelslike_c'] + '°C'"></h1>
      <h3 class="weather-desc" [innerText]="weatherData['current']['condition'].text"></h3>
    </div>
  </div>
  <div class="info-side">
    <div class="today-info-container">
      <div class="today-info">
        <div class="precipitation">
          <span class="title">PRECIPITATION</span>
          <span class="value" [innerText]="weatherData['current']['precip_mm'] + ' /Millimetre'">0 %</span>
          <div class="clear"></div>
        </div>
        <div class="humidity">
          <span class="title">HUMIDITY</span>
          <span class="value" [innerText]="weatherData['current']['humidity'] + ' %'"></span>
          <div class="clear"></div>
        </div>
        <div class="wind">
          <span class="title">WIND</span>
          <span class="value" [innerText]="weatherData['current']['wind_kph'] + ' km/h'"></span>
          <div class="clear"></div>
        </div>
      </div>
    </div>
    <div class="week-container">
      <ul class="week-list">
        <li class="active">
          <img alt="image" [src]="weatherData['forecast']['forecastday'][0]['day']['condition'].icon">
          <span class="day-name" [innerText]="currentDate[0][2]"></span>
          <span class="day-temp"
                [innerText]="weatherData['forecast']['forecastday'][0]['day']['avgtemp_c'] + '°C'"></span>
        </li>
        <li>
          <img alt="image" [src]="weatherData['forecast']['forecastday'][1]['day']['condition'].icon">
          <span class="day-name" [innerText]="currentDate[1][0]"></span>
          <span class="day-temp"
                [innerText]="weatherData['forecast']['forecastday'][1]['day']['avgtemp_c'] + '°C'"></span>
        </li>
        <li>
          <img alt="image" [src]="weatherData['forecast']['forecastday'][2]['day']['condition'].icon">
          <span class="day-name" [innerText]="currentDate[2][0]"></span>
          <span class="day-temp"
                [innerText]="weatherData['forecast']['forecastday'][2]['day']['avgtemp_c'] + '°C'"></span>
        </li>
        <div class="clear"></div>
      </ul>
    </div>
    <div class="location-container">
      <select (change)="getLocation(city.value)" #city class="location-button">
        <option [selected]="defaultCity == city" *ngFor="let city of cities"  [value]="city" [innerText]="city"></option>
      </select>
    </div>
  </div>
</div>
